@model Sakura.AspNetCore.IPagedList<Pubstars2.Models.PubstarsViewModels.GameSummaryViewModel>

@{
    ViewData["Title"] = "Games";
}

<h2 align="center">Games</h2>

<div align="center"><pager /></div>
@foreach(var game in Model)
{
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <td colspan="10" align="center">
                    <font color="black" size="5">@Html.DisplayFor(modelitem => game.Time)</font>
                </td>
            <tr>
                <td colspan="5" bgcolor="#bf2222" align="center">
                    <font color="white" size="4">Red</font>
                </td>
                <td colspan="5" bgcolor="#2763c4" align="center">
                    <font color="white" size="4">Blue</font>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="5" align="center">
                    <font color="black" size="32">@Html.DisplayFor(modelitem => game.RedScore)</font>
                </td>
                <td colspan="5" align="center">
                    <font color="black" size="32">@Html.DisplayFor(modelitem => game.BlueScore)</font>
                </td>
            </tr>
            <tr>
                <td colspan="5" align="center">
                    <p><b>Average Rating: </b>@Html.DisplayFor(modelitem => game.RedAvgRating)<p>
                </td>
                <td colspan="5" align="center">
                <p><b>Average Rating: </b>@Html.DisplayFor(modelitem => game.BlueAvgRating)
                <p>
                    </td>
</tr>
            
            <tr>
                <th>
                    NAME
                </th>
                <th>
                    G
                </th>
                <th>
                    A
                </th>
                <th>
                    CHANGE
                </th>
                <th>
                    NEW RATING
                </th>
                <th>
                    NAME
                </th>
                <th>
                    G
                </th>
                <th>
                    A
                </th>
                <th>
                    CHANGE
                </th>
                <th>
                    NEW RATING
                </th>
            </tr>
            @for (int j = 0; j < Math.Min(game.RedStatLines.Count, game.BlueStatLines.Count); j++) //todo: replace with player stat lines
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelitem => game.RedStatLines[j].name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => game.RedStatLines[j].goals)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => game.RedStatLines[j].assists)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => game.RedStatLines[j].ratingChange)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => game.RedStatLines[j].newRating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => game.BlueStatLines[j].name)
                    </td>                                  
                    <td>                                   
                        @Html.DisplayFor(modelitem => game.BlueStatLines[j].goals)
                    </td>                                  
                    <td>                                   
                        @Html.DisplayFor(modelitem => game.BlueStatLines[j].assists)
                    </td>                                  
                    <td>                                   
                        @Html.DisplayFor(modelitem => game.BlueStatLines[j].ratingChange)
                    </td>                                  
                    <td>                                   
                        @Html.DisplayFor(modelitem => game.BlueStatLines[j].newRating)
                    </td>
                </tr>
            }            
        </tbody>
    </table><br />
}
