@model IEnumerable<Pubstars2.Models.PubstarsViewModels.GameSummaryViewModel>

@{
    ViewData["Title"] = "Games";
}

<h2>Games</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.redScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.blueScore)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.redScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.blueScore)
            </td>         
        </tr>
}
    </tbody>
</table>
